* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-gap: 2em;
  grid-template-rows: 10vh 10vh 40vh 30vh 10vh;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

header {
  width: 90vw;
  max-width: 800px;
  grid-row: 2 / 3;
}

header input {
  width: 100%;
  padding: 1em;
}

main {
  width: 100vw;
  height: 50vh;
  max-width: 800px;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  justify-items: center;
  align-items: center;
}

main img {
  max-height: 440px;
  max-width: 80%;
  animation: .3s fadeIn ease-out;
}

.icon-arrow {
  width: 4em;
  stroke: rgba(195, 195, 195, 1);
  stroke-width: .4;
  cursor: pointer;
  transition: .2s;
}

.icon-arrow:hover {
  stroke: rgba(77, 138, 250, 1);
}

.icon-arrow.left {
  transform: scaleX(-1);
  justify-self: flex-start;
}

.icon-arrow.right {
  justify-self: flex-end;
}

.thumbs-container {
  width: 90vw;
  max-width: 800px;
  grid-row: 4 / 5;
  display: grid;
  grid-gap: .5em;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}

.thumbs-container img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  animation: .3s fadeIn ease-out;
  transition: border .15s linear;
}

.thumbs-container .active {
  border-color: rgba(77, 138, 250, 1);
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  font-size: 5px;
  border-top: 2em solid rgba(0, 0, 0, .15);
  border-right: 2em solid rgba(0, 0, 0, .15);
  border-bottom: 2em solid rgba(0, 0, 0, .15);
  border-left: 2em solid rgba(0, 0, 0, 0.3);
  transform: translateZ(0);
  animation: spinner .9s infinite linear;
}

.loader, .loader::after {
  border-radius: 50%;
  width: 20em;
  height: 20em;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
