* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 1fr 1fr minmax(100px, 500px) max-content 1fr;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

header {
  grid-row: 2 / 3;
  width: 800px;
}

header input {
  width: 100%;
  padding: 1em;
}

main {
  grid-row: 3 / 4;
}

main img {
  height: 50vh;
}

footer {
  grid-row: 4 / 5;
  display: grid;
  width: 840px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}

footer img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}
