* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 1fr 1fr minmax(100px, 500px) max-content 1fr;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

header {
  grid-row: 2 / 3;
  width: 800px;
}

header input {
  width: 100%;
  padding: 1em;
}

main {
  width: 100vw;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

main img {
  height: 50vh;
}

.icon-arrow {
  width: 8rem;
  stroke: rgba(195, 195, 195, 1);
  stroke-width: .4;
  cursor: pointer;
}

.icon-arrow.left {
  transform: scaleX(-1);
  justify-self: flex-start;
}

.icon-arrow.right {
  justify-self: flex-end;
}

footer {
  grid-row: 4 / 5;
  display: grid;
  width: 840px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}

footer img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
}

.active {
  border-color: rgba(77, 138, 250, 1);
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  font-size: 5px;
  border-top: 2em solid rgba(0, 0, 0, .15);
  border-right: 2em solid rgba(0, 0, 0, .15);
  border-bottom: 2em solid rgba(0, 0, 0, .15);
  border-left: 2em solid rgba(0, 0, 0, 0.3);
  transform: translateZ(0);
  animation: spinner .9s infinite linear;
}

.loader, .loader::after {
  border-radius: 50%;
  width: 20em;
  height: 20em;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
